<div class="task-board">
  <h2>Welcome to TaskBoard!</h2>

  <tb-tasks-quick-add (taskCreated)="create($event)">
  </tb-tasks-quick-add>

  <div class="list-container">
    <tb-tasks-list
      [taskList]="taskListToDo"
      title="To Do"
      (taskUpdated)="update($event)"
      (taskDeleted)="onTaskDeleted($event)"
    >
    </tb-tasks-list>

    <tb-tasks-list
      [taskList]="taskListDoing"
      title="Doing"
      (taskUpdated)="update($event)"
      (taskDeleted)="onTaskDeleted($event)"
    >
    </tb-tasks-list>

    <tb-tasks-list
      [taskList]="taskListDone"
      title="Done"
      (taskUpdated)="update($event)"
      (taskDeleted)="onTaskDeleted($event)"
    >
    </tb-tasks-list>
  </div>
</div>
