<div class="tasks-quick-add">
  <h3>New Task</h3>

  <form [formGroup]="taskForm">
    <div class="input-line">
      <label>Title:</label>
      <input
        type="text"
        formControlName="title"
        required
        (keyup)="onTitleKeyUp()"
      />
    </div>

    <div class="input-line">
      <label>Text:</label>
      <input type="text" formControlName="text" (keyup)="onTextKeyUp()" />
    </div>
  </form>

  <button [disabled]="!taskForm.valid" (click)="saveForm()">Save</button>
</div>
