.tasks-card {
  position: relative;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 3vh;
}

.tasks-card.favourite {
  filter: grayscale(0);
  border: 1px solid orange;

  .fav-img {
    filter: grayscale(0);
  }
}

.fav-img {
  position: absolute;
  top: 1vmin;
  right: 1vmin;
  width: 5vmin;
  height: 5vmin;
  filter: grayscale(1);
}

.card-button {
  margin: 3vmin;
}
