<div
  class="tasks-card"
  [ngClass]="{
    favourite: task.isFavourite,
    highlight: isTitleHighlighted || isTextHighlighted,
    editingMode: editMode
  }"
  (dblclick)="onEdit()"
>
  <img
    *ngIf="!task.isComplete && !editMode"
    src="./assets/star.png"
    alt="star"
    (click)="onFavourite()"
    class="fav-img"
  />

  <p #title [attr.contenteditable]="editMode" (keyup)="checkEditing()">
    {{ task.title | uppercase }}
  </p>
  <p #text [attr.contenteditable]="editMode" (keyup)="checkEditing()">
    {{ task.text }}
  </p>

  <button
    *ngIf="!task.isComplete && !editMode"
    type="button"
    (click)="onCardMoved()"
    class="card-button"
  >
    Move
  </button>

  <button
    *ngIf="!editMode"
    type="button"
    (click)="onCardDeleted()"
    class="card-button"
  >
    Delete
  </button>

  <button
    id="edit-button"
    *ngIf="editMode"
    type="button"
    (click)="onSaveEdited()"
    class="card-button"
    value="{{ title.textContent }}"
    [disabled]="!edited"
  >
    Save
  </button>
</div>
