<div
  class="tasks-card"
  [ngClass]="{
    favourite: task.isFavourite,
    highlight: isTitleHighlighted || isTextHighlighted,
    editingMode: editMode
  }"
  (dblclick)="onEdit()"
>
  <img
    *ngIf="!task.isComplete && !editMode"
    src="./assets/star.png"
    alt="star"
    (click)="onFavourite()"
    class="fav-img"
  />

  <p [attr.contenteditable]="editMode" (keyup)="checkEditing()" value="title">
    {{ task.title | uppercase }}
  </p>
  <p [attr.contenteditable]="editMode" (keyup)="checkEditing()" value="text">
    {{ task.text }}
  </p>

  <button
    *ngIf="!task.isComplete && !editMode"
    type="button"
    (click)="move()"
    class="card-button"
  >
    Move
  </button>

  <button
    *ngIf="!editMode"
    type="button"
    (click)="delete()"
    class="card-button"
  >
    Delete
  </button>

  <button
    id="edit-button"
    *ngIf="editMode"
    type="button"
    (click)="onSaveEdited()"
    class="card-button"
    value="{{ title }}"
    [disabled]="!edited"
  >
    Save
  </button>
</div>
